.footer {
  background-color: var(--color-grey);
  color: var(--color-dark);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  p {
    color: var(--color-dark);
  }
  h5 {
    color: var(--light-blue);
    text-transform: uppercase;
  }
}
